<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   
    <html>
       <head>

     <title>

        <%= title %>
    </title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.2.0-beta-deprecated/noty.min.css"> -->
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <!-- <script src ="https://cdnjs.cloudflare.com/ajax/libs/noty/3.2.0-beta-deprecated/noty.min.js"></script> -->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel ="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <%- style %> 

</head>


<body>


    <!-- <header>
        Page Header
    </header> -->

    <%- include('_header'); %>
   
    <!-- <% if (flash.success && flash.success.length > 0) {%>
       <h5>
        <%= flash.success %>
        </h5> 
        
    <%}%> -->
   
    <main id="layout-main">
    <%- body%>
   </main>

    
    
    
    <!-- <h1> Codeial / <%= title %> </h1> -->
    <%- include('_footer'); %>
    <%- script %>
    <script>
    <% if (flash.success && flash.success.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: "<%= flash.success %>",
            type : 'success',
            layout :'topRight',
            timeout : 1500
            
        }).show();

        <% } %>


        <% if (flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: '<%= flash.error %>',
            type : 'error',
            layout :'topRight',
            timeout : 1500
        }).show();

        

        <% } %>
        
    </script>
<!--     
    <footer>
        Page Footer
    </footer> -->
</body>
</html>