<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <%- include('_header'); %>
    <!-<header>
        Page Header
    </header>
     --> 

     <link rel="stylesheet" href="/css/user_profile.css">
    
     <!-- <%if (profile_user.avatar){%> -->


     <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name%>" width="100">

    <!-- <%}%> -->
     <% if(user.id == profile_user.id) {%>
        <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data"  method="post">

            <input type="text" name = "name" placeholder="Your Name " value="<%= profile_user.name %>" required>
            <input type="email" name ="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
            
            <input type="file" name="avatar" onchange= PreviewImage() id="uploadImage" placeholder="Profile Picture">
            <input type="submit" value="Update">
            

        </form>

        <img id="uploadPreview" style="width: 100px; height: 100px;" />
        <input type="button" value="Cancle" onclick= reset() >


    <%} else{%>

        <p>Name: <%= profile_user.name%></p>
        <p>Email: <%= profile_user.email%></p>
     
        
    <%}%>
    <!-- <script src="/js/preview.js"></script> -->




    <script>                
        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);
    
            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
        };

        function reset() {
            $('#uploadImage').val('');
            $("#uploadPreview").attr("src","");
        }


    </script>






    <!-- <footer>
        Page Footer
    </footer>

    <%- include ('_footer'); %>
</body>
</html> -->